<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z4mod.z4root2">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/z4small"
        android:label="@string/z4root">
        <activity
            android:name="z4root"
            android:finishOnTaskLaunch="true"
            android:label="z4root"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:process=":three"
            android:screenOrientation="portrait"
            android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Phase1"
            android:finishOnTaskLaunch="true"
            android:label="Phase1"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:process=":three"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"/>
        <activity
            android:name="Phase2"
            android:finishOnTaskLaunch="true"
            android:label="Phase2"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:process=":two"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"/>
        <activity
            android:name="PhaseRemove"
            android:finishOnTaskLaunch="true"
            android:label="PhaseRemove"
            android:launchMode="singleInstance"
            android:multiprocess="true"
            android:process=":four"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"/>
        <activity
            android:name="com.admob.android.ads.AdMobActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <receiver
            android:name="AlarmReceiver"
            android:process=":remote"/>

        <meta-data
            android:name="ADMOB_PUBLISHER_ID"
            android:value="a14ce61b36e16c1" />
        <meta-data
            android:name="ADMOB_INTERSTITIAL_PUBLISHER_ID"
            android:value="a14ce61b36e16c1" />
    </application>
</manifest>
